@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-outline fieldset.MuiOutlinedInput-notchedOutline {
  border-color: rgb(255 255 255);
}

.custom-outline.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: rgb(94 234 212);
}

.custom-outline:hover .MuiOutlinedInput-notchedOutline {
  border-color: rgb(94 234 212);
}

.custom-timepicker input,
label {
  color: rgb(255 255 255) !important;
  border-color: rgb(255 255 255) !important;
}

.custom-timepicker .Mui-focused fieldset.MuiOutlinedInput-notchedOutline {
  border-color: rgb(94 234 212) !important;
}
